body {
  background-color: #FFF0F6;
  font-family: 'Poppins', sans-serif;
  padding: 20px;
  color: #9C2753;
}

h1 {
  text-align: center;
}

section {
  margin-bottom: 20px;
}

section h2 {
  color: #BF5F82;
  text-align: center;
  margin-bottom: 12px;
}

button {
  padding: 10px 15px;
  margin: 5px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

button.aprobado {
  background-color: #F48FB1;
  color: white;
  text-decoration: line-through;
  box-shadow: 0 4px 12px rgba(244, 143, 177, 0.8);
}

button.bloqueado {
  background-color: #D8A4B9;
  color: #F8BBD0;
  cursor: not-allowed;
}

button:not(.aprobado):not(.bloqueado) {
  background-color: #FCE4EC;
  color: #9C2753;
}

button:not(.bloqueado):hover {
  background-color: #F48FB1;
  color: white;
}

#progress-container {
  width: 100%;
  background-color: #FCE4EC;
  border-radius: 10px;
  margin-bottom: 20px;
  height: 25px;
}

#progress-bar {
  height: 100%;
  width: 0%;
  background-color: #F48FB1;
  border-radius: 10px;
  transition: width 0.5s ease;
}

#progress-text {
  text-align: center;
  font-weight: 600;
  color: #9C2753;
  margin-bottom: 20px;
}

#buscador {
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 2px solid #F48FB1;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  color: #9C2753;
  outline: none;
}

#buscador:focus {
  border-color: #F06292;
}
